<h1>便當店資訊</h1>

<table>
	<% @bendons.each do |b| %>

	<tr>
		<td>
			<%=b.store%>
		</td>
		 <td>
		 	<%= link_to "詳細資訊",bendon_path(b),:class=>"btn btn-primary"%>
		 	<%= link_to "Get XML",bendon_path(b,:format=>:xml),:class=>"btn btn-default"%>
		 	<%= link_to "Get JSON",bendon_path(b,:format=>:json),:class=>"btn btn-default"%>
		 	<%= link_to "　編輯",bendons_path({:b=>b}),:class=>"btn btn-default"%>
		 	<%= link_to "刪除",bendon_path(b),:method=>:delete,:class=>"btn btn-danger"%>
		 </td>
	</tr>
	<%end%>
</table>

<%= link_to "新增",bendons_path%>
<%= link_to "Atom feed",bendons_path(:format=>:atom)%>


<%= paginate @bendons %>

<%if params[:b]%>
<%url=bendon_path(@bendon)%>
<%else%>
<%url=bendons_path%>
<%end%>



<%= form_for @bendon, :url => url do |f| %>
    <%= f.label :store, "商店名稱" %>
    <%= f.text_field :store %>

    <%= f.label :address, "地址" %>
    <%= f.text_field :address %>

    <%= f.label :phone_number,"電話號碼"%>
    <%=f.text_field :phone_number%>

    <%= f.submit "新增" %>
<% end %>





</table>